.photos-post article {
	width: 720px;
	max-width: calc(100% - 1em);
	margin: auto;
	padding: 0 1em;
}

.photos-post {
	background: rgba(var(--map-background), 1);
	background: var(--map-background-gradient);
	color: rgb(var(--text-color));
}

.photos-post hr.gradient {
	margin: 0 0 0 0;
	border-radius: 0;

}

/* Photo meta data */

.photos-post .photo-metadata {
	font-family: "monoidregular", monospace;
	font-size: 0.85rem;
}

.photos-post .photo-metadata {
	background: #282828;
	padding: 1em 0.5em;
}

.photos-post .photo-metadata td {
	padding: 0.5em;

}

.photos-post .photo-metadata .icon {
	text-align: center;
}

.photos-post .photo-metadata .icon img {
	width: 32px;
}

.photos-post .photo-metadata .small.icon img {
	width: 24px;
}