---
import { getEntryBySlug } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("places");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { entry: post },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<html>
	<body>
		<Header />

		<main>
			<article>
				<div class="hero-image">
					{
						entry.data.image && (
							<img
								src={entry.data.image}
								alt={entry.data.title}
							/>
						)
					}
				</div>

				<div class="prose">
					<h1>{entry.data.title}</h1>
					<Content />
					<!-- THIS replaces <slot /> -->
				</div>
			</article>
		</main>

		<Footer />
	</body>
</html>
