---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { startTyping } from "../../../public/assets/scripts/terminal-typing.jsx";

import Content from "../../content/terminal/01-first-choice.mdx";

const posts = (await getCollection("terminal")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const current = posts[0];

const choices = current?.data.terminalChoices ?? [];
---

<!--

                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                             :.:                                                  
                                   == *--:=++.----=%++=.                                          
                              .=..--:+-*-+=#=:*%#=*:*#*++=--=-                                    
                           .-*.:=:++*==+++===*==-=***+#*==%=-*=:                                  
                          - +%.#:**-*+#*=-#+-#+=#+* -.-:% :-%=+#.                                 
                        : -=+#:*-#-:-+.+:+====:+%*++*-*##=.*-@%#::=                               
                     :=+ ::+*#+:*-:::*:-=**=*-+*+++*.#+#*-%%.+.+#+===                             
                    -=:.*-*-*-*.%==:=#-+=+-=+*++=--*#-*--%==**:+#+*.+*-                           
                   +-+#  -:=+.:*=#=:+:---+:++=+++=*==++%+%%%#*=+%@%=-#                            
                  + -%...:.-#**.+#-*+**###=-=+*=+=+**@%%+=****##@%%%*=+*                          
                 .@...:-.:%#                      :        --..: %*%%@%#-                         
                 = ..*+%%%                                        .@@@#@*#                        
                 ==*-%@%:                                        .. #@@%* +                       
                 . %%@+                                          .   .%@@*%                       
                =: %@ :                                          .    :=@@%                       
                **.%@.                                          ..     ##*%                       
                %###@ .      .                                  ...   .:%%@                       
                %@#@@.=.                                         ....:*#@@@                       
                @#%%@##-    .                                   .:.:.-##@@@                       
                 #*%%%*+.                                        .:::+@#@@                        
                .-*@%%-*.    .-....  ..:..      .    .::-==---++:: ::@#%@@: .                     
              .= . +%@+*    .     .  .. .:--:.   .:-===-:::..  .--+..@%@%- %                      
              :+-+.. =*:      .% -###*-:=::-:.   .-+==%==@*#=:%+:==::%@ . ##                      
              --=:.-.:#:    .:%=. #@@# .#=.      :.::*: #@@+.-%*+==-:@@:*##:=                     
              :*=...-:%-    .::. . %#                 .  #%...-+*-..:@%---#+                      
               -::-=-. =        .::. :-                =:  .:::....:-#+#*=:                       
                 .-:   - .   .                   .                .%-+-==-                        
                 : .   .   *     . .=.                  .    .   .::=#:=..                        
                  -+  ....: ... .   --:          .         . . ::-=== .=.                ...    ..
          =++          ..... .:.     =:. +===+=    .-.        ..::--+...    :-           ..... :..
         *+++      -   :....=+**     .. .-=+=-      ..          :--=* =      =           .... =...
         =+=  +*+#+  ...:....=++=..::....-.......           .*+.:-==:=  .    .       ::=  -:.....=
          +   +++#**++*+.....:-:-:==--.......... . :==#.  .-==##:=++  .:%=    -::..++====.*-==:=+-
   -***###-.::#++*#=***==-:.::.:+#*+++-=-:.--:%+.#.........--*#=..:......#**#. =*%%%#**++:%@#=.:++
:.+#*==:.=+*=-:-=.+=*#%-=+==.::..##+==--::.:..:..........:%%#:%#+==+-..#-:*:.===++=:==*+-++-*:..:-
..=+++-=+=:-:..-*+-+*=-:=::----..+:.=-..==-=#---.:.....=#+..#..:%@+-+=#%*--=%@**+*+=...:::.*%#*::.
...-%+=.......=%..:==-:+*#-.:--::%::-.:#%@%**-===#-=+:::*.....::**:*%%#+--=-.#=-==+.*-=---.:*+....
..:##=:...-:*#*=-=+-:-##+#*#%#*--+**%#=-++*+---:++=........-::.+@*#@%+.:+-=+#...-::===--=+++*.=..-
---*=...=+=*=.-=-=+=++#@%*-#+-:.:-**=+*==-*=....-#+=-::...:+::.:::=*:...-+%+-..=----=*+#%%**#*##*+
*:.++.-#**==+*-:::=#%%%%@*=*@#*=-*%%+#=#++.*=:..:+#+--.....+..+:..::..--*%%%%%%%*%#=:.-++%@+*#@%+*
*-+*=+%#*#%#=+%+*#%%@@@@%#+*%+===*###@#**+*@+----=%#%@@*....:#-....*#%#%%@##*##*#*+*+**+%%%@%@#==%
***+::::.:+%@%###%**#%@@@%%#=-----=++#%*%%@@++==:.....+*-:...=#-..:+=..+#*%%%**@%@@@#%%@@###++==*@
***=-:-*@#==+*#%**###%%*+=-===+==+*=+*%%%#@@=:*=.......#.....#@#*+:...==+##%###*==%@%++*@%%@@*#@@%
@#%@@@%+*+---=+=+###+::-=-::=*##%#**%%@@%@@%%#%%%=:..::=.....#%%%#...*===*%@#*==*#%%+-=+=#%%%%*%*-
@@#%%@@%@*--=**+**#%=-+#+---+*%@@##%%#++##*+====+*=--...:=..#####-.*%#**%@*==---+*#%#%#**##*=:*+..
@%%##@%%%#=--:=##%@@*#*--:--++#@*++**%@@%@@%%%%**#*=:....:=*==++*%%@@@@%%%*=-=+=-..-+#%*+*---+#=+=
#**@@@@@%##****+*%@@@#==+****+%#==--=*%@@@@%%:...=*%=::-*@=@%+----=#@*+##%@#**+**+=****###=*==-:-=
%###**#%###%@@@@@%@@@@@@@@%%@%%#+==*%%%@%%%%%:.....+*=-==++=---::--+%##++**#++=**+**@#=*%*==+*=:=*
%%#####**+#@@%%#%#+#%*#%%@#*+***#%##++##*=#@@=.....-#==:.....*##*#%@@@#**#*+---+*%##@#==#*=+#%#::+
%%@@@@@@@*%@%%#+==++=-=%@##%*=*%@@@%%@%=-#@@%@+......:--...=*@@@%@@@@%%##++==+##%%@@%##%**#**#%#%@
%@%%%#*%#%%**=:=*##+--*%###%*++*###%#%%%@@%###%@%%--#%*+===*@@@@@%%@@@%*%@@@@@@@@@@@@@@%%%%%%@@@@@
+##**##**+=+++=**#*******@@%**+++##*%@@#*=-=+++*#@*##=--=*#%%#*+***#@###==*#@@#%%#**##**==++*#@**+
@@@*=+#%@#*==:+#*:....:==##+----:=+@@#+=--=+++**#%***+*%%%%@%%#***+=****+=-==-+**+++=+*++*++*%*--=


--><!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			/*! 
			Generated by Font Squirrel (https://www.fontsquirrel.com) on April 3, 2026 
			Thanks Font Squirrel I have been using your services for my projects!
			
			Shout out to Andreas (https://larsenwork.com/) as well,
			Monoid has to be one of my favorite fonts out here!
			*/
			@font-face {
				font-family: "monoidbold";
				src:
					url("/assets/fonts/monoid/monoid-bold-webfont.woff2")
						format("woff2"),
					url("/assets/fonts/monoid/monoid-bold-webfont.woff")
						format("woff");
				font-weight: normal;
				font-style: normal;
			}

			@font-face {
				font-family: "monoiditalic";
				src:
					url("/assets/fonts/monoid/monoid-italic-webfont.woff2")
						format("woff2"),
					url("/assets/fonts/monoid/monoid-italic-webfont.woff")
						format("woff");
				font-weight: normal;
				font-style: normal;
			}

			@font-face {
				font-family: "monoidregular";
				src:
					url("/assets/fonts/monoid/monoid-regular-webfont.woff2")
						format("woff2"),
					url("/assets/fonts/monoid/monoid-regular-webfont.woff")
						format("woff");
				font-weight: normal;
				font-style: normal;
			}

			@font-face {
				font-family: "monoidretina";
				src:
					url("/assets/fonts/monoid/monoid-retina-webfont.woff2")
						format("woff2"),
					url("/assets/fonts/monoid/monoid-retina-webfont.woff")
						format("woff");
				font-weight: normal;
				font-style: normal;
			}

			body {
				background: var(--void-0);
				color: var(--void-6);
				font-family: "monoidregular", monospace;
				padding: 0;
				border-radius: 8px;
				line-height: 1.6;
				font-size: 0.95rem;

				/* Optional subtle scanlines */
				background-image: repeating-linear-gradient(
					to bottom,
					rgba(255, 255, 255, 0.03) 0,
					rgba(255, 255, 255, 0.03) 1px,
					transparent 1px,
					transparent 3px
				);
			}
		</style>
	</head>
	<body>
		<div class="terminal">
			<Header />
			<content>
				<span class="comment">
					<br />
					Delivered by machines, built with humanity. <br />
					The font used is <a
						href="https://larsenwork.com/monoid/"
						target="_blank">Monoid</a
					>.<br />
					<br />
					Font packaged by <a
						href="https://larsenwork.com/monoid/"
						target="_blank"
					>
						Font Squirrel.</a
					>
					My favorite font generator since 2009 ❤️.
				</span>

				<hr />
				<div id="mdx-source" class="hidden">
					<Content />
				</div>

				<div id="terminal-output"></div>

				<div id="choices" class="choices hidden">
					{
						choices.map((c, i) => (
							<div
								class={`choice ${i === 0 ? "active" : ""}`}
								data-target={c.target}
							>
								{c.label}
							</div>
						))
					}
				</div>
				<div class="terminal-type"></div>
				<span id="typed-text"></span>
			</content>
		</div>
		<!--<Footer />-->
	</body>
</html>
<script type="module" client:load>
	import { startTyping } from "../assets/scripts/terminal-typing.js";
	startTyping();
</script>
