		footer {
			margin: 0 auto;

			left: 0;
			bottom: 0;
			width: 100%;

			padding: 1.5em 0;
		}

		footer div {
			width: 720px;
			max-width: 100%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media only screen and (max-width: 720px) {
			footer div {
				display: block;
			}
		}