	header {
		margin: 0;
		padding: 0 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		margin: auto;
		width: 100%;
		max-width: 720px;
	}



	header nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	header nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	header nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}


	/* Header overrides because I am lazy */
	.terminal header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		width: calc(100% - 2em);
		margin: 0;
	}

	.terminal header nav {
		display: flex;
		align-items: normal;
		justify-content: left;
		gap: 1em;

	}

	.terminal header nav a {
		padding: 0.75em 0.5em 0;
		color: var(--dark-purple);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	.terminal header nav a.active {
		text-decoration: none;
		background: var(--void-6);
		color: var(--void-0);
		border-bottom-color: var(--accent);
	}