@media only screen and (max-width: 600px) {
	.hide-xs {
		display: none !important;
	}

	.hero {
		padding-left: 2em;
	}
}

/* Visisbility status */
.hidden {
	display: none !important;
}

.show {
	display: block !important;
}

/* Color classes */
.accent {
	color: rgb(var(--accent))
}

/* I would like to display inline lists, so that semantics are preserved for screenreaders and the like */

ol.inline,
ul.inline {
	display: inline;
	padding: 0;
}

ol.inline li,
ul.inline li {
	display: inline;
}