@media only screen and (max-width: 600px) {
	.hide-xs {
		display: none !important;
	}

	.hero {
		padding-left: 2em;
	}
}

/* Visisbility status */
.hidden {
	display: none !important;
}

.show {
	display: block !important;
}

/* Coloro classes */
.accent {
	color: rgb(var(--accent))
}