---
import AboutHeroImage from "../assets/img/cv/header-image.jpg";
import Layout from "../layouts/BlogPost.astro";
import { experience } from "../data/expierence";
import CvCard from "../components/CvCard.astro";
---

<Layout
	title="Curriculum vitae"
	description="A overview of my work experience, education and skills."
	pubDate={new Date("April 03 2026")}
	heroImage={AboutHeroImage}
>
	<section class="experience">
		{experience.map((item: any) => <CvCard {...item} />)}
	</section>
</Layout>
