---
const today = new Date();
---

<footer>
	<div>
		<h6>
			&#x1F12F; {today.getFullYear()} wildedame.nl. All wrongs reserved.
		</h6>
	</div>
</footer>
<style>
	footer {
		margin: 0 auto;

		left: 0;
		bottom: 0;
		width: 100%;

		padding: 1.5em 0;
	}

	footer div {
		width: 720px;
		margin: auto;
	}
</style>
