---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<a class="hide-xs logo" href="/">
			<img src="/favicon.svg" alt={SITE_TITLE} width="32" height="32" />
		</a>
		<div class="internal-links">
			<HeaderLink href="/">About me</HeaderLink>
			<HeaderLink href="/random">Random</HeaderLink>
			<HeaderLink href="/resume">Resume</HeaderLink>
		</div>
	</nav>
</header>
