---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"terminal">["data"];

const { title, description, pubDate, updatedDate, heroImage, terminalChoices } =
	Astro.props;

const choices = terminalChoices || [];
---

<!--

                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                                                                                  
                                             :.:                                                  
                                   == *--:=++.----=%++=.                                          
                              .=..--:+-*-+=#=:*%#=*:*#*++=--=-                                    
                           .-*.:=:++*==+++===*==-=***+#*==%=-*=:                                  
                          - +%.#:**-*+#*=-#+-#+=#+* -.-:% :-%=+#.                                 
                        : -=+#:*-#-:-+.+:+====:+%*++*-*##=.*-@%#::=                               
                     :=+ ::+*#+:*-:::*:-=**=*-+*+++*.#+#*-%%.+.+#+===                             
                    -=:.*-*-*-*.%==:=#-+=+-=+*++=--*#-*--%==**:+#+*.+*-                           
                   +-+#  -:=+.:*=#=:+:---+:++=+++=*==++%+%%%#*=+%@%=-#                            
                  + -%...:.-#**.+#-*+**###=-=+*=+=+**@%%+=****##@%%%*=+*                          
                 .@...:-.:%#                      :        --..: %*%%@%#-                         
                 = ..*+%%%                                        .@@@#@*#                        
                 ==*-%@%:                                        .. #@@%* +                       
                 . %%@+                                          .   .%@@*%                       
                =: %@ :                                          .    :=@@%                       
                **.%@.                                          ..     ##*%                       
                %###@ .      .                                  ...   .:%%@                       
                %@#@@.=.                                         ....:*#@@@                       
                @#%%@##-    .                                   .:.:.-##@@@                       
                 #*%%%*+.                                        .:::+@#@@                        
                .-*@%%-*.    .-....  ..:..      .    .::-==---++:: ::@#%@@: .                     
              .= . +%@+*    .     .  .. .:--:.   .:-===-:::..  .--+..@%@%- %                      
              :+-+.. =*:      .% -###*-:=::-:.   .-+==%==@*#=:%+:==::%@ . ##                      
              --=:.-.:#:    .:%=. #@@# .#=.      :.::*: #@@+.-%*+==-:@@:*##:=                     
              :*=...-:%-    .::. . %#                 .  #%...-+*-..:@%---#+                      
               -::-=-. =        .::. :-                =:  .:::....:-#+#*=:                       
                 .-:   - .   .                   .                .%-+-==-                        
                 : .   .   *     . .=.                  .    .   .::=#:=..                        
                  -+  ....: ... .   --:          .         . . ::-=== .=.                ...    ..
          =++          ..... .:.     =:. +===+=    .-.        ..::--+...    :-           ..... :..
         *+++      -   :....=+**     .. .-=+=-      ..          :--=* =      =           .... =...
         =+=  +*+#+  ...:....=++=..::....-.......           .*+.:-==:=  .    .       ::=  -:.....=
          +   +++#**++*+.....:-:-:==--.......... . :==#.  .-==##:=++  .:%=    -::..++====.*-==:=+-
   -***###-.::#++*#=***==-:.::.:+#*+++-=-:.--:%+.#.........--*#=..:......#**#. =*%%%#**++:%@#=.:++
:.+#*==:.=+*=-:-=.+=*#%-=+==.::..##+==--::.:..:..........:%%#:%#+==+-..#-:*:.===++=:==*+-++-*:..:-
..=+++-=+=:-:..-*+-+*=-:=::----..+:.=-..==-=#---.:.....=#+..#..:%@+-+=#%*--=%@**+*+=...:::.*%#*::.
...-%+=.......=%..:==-:+*#-.:--::%::-.:#%@%**-===#-=+:::*.....::**:*%%#+--=-.#=-==+.*-=---.:*+....
..:##=:...-:*#*=-=+-:-##+#*#%#*--+**%#=-++*+---:++=........-::.+@*#@%+.:+-=+#...-::===--=+++*.=..-
---*=...=+=*=.-=-=+=++#@%*-#+-:.:-**=+*==-*=....-#+=-::...:+::.:::=*:...-+%+-..=----=*+#%%**#*##*+
*:.++.-#**==+*-:::=#%%%%@*=*@#*=-*%%+#=#++.*=:..:+#+--.....+..+:..::..--*%%%%%%%*%#=:.-++%@+*#@%+*
*-+*=+%#*#%#=+%+*#%%@@@@%#+*%+===*###@#**+*@+----=%#%@@*....:#-....*#%#%%@##*##*#*+*+**+%%%@%@#==%
***+::::.:+%@%###%**#%@@@%%#=-----=++#%*%%@@++==:.....+*-:...=#-..:+=..+#*%%%**@%@@@#%%@@###++==*@
***=-:-*@#==+*#%**###%%*+=-===+==+*=+*%%%#@@=:*=.......#.....#@#*+:...==+##%###*==%@%++*@%%@@*#@@%
@#%@@@%+*+---=+=+###+::-=-::=*##%#**%%@@%@@%%#%%%=:..::=.....#%%%#...*===*%@#*==*#%%+-=+=#%%%%*%*-
@@#%%@@%@*--=**+**#%=-+#+---+*%@@##%%#++##*+====+*=--...:=..#####-.*%#**%@*==---+*#%#%#**##*=:*+..
@%%##@%%%#=--:=##%@@*#*--:--++#@*++**%@@%@@%%%%**#*=:....:=*==++*%%@@@@%%%*=-=+=-..-+#%*+*---+#=+=
#**@@@@@%##****+*%@@@#==+****+%#==--=*%@@@@%%:...=*%=::-*@=@%+----=#@*+##%@#**+**+=****###=*==-:-=
%###**#%###%@@@@@%@@@@@@@@%%@%%#+==*%%%@%%%%%:.....+*=-==++=---::--+%##++**#++=**+**@#=*%*==+*=:=*
%%#####**+#@@%%#%#+#%*#%%@#*+***#%##++##*=#@@=.....-#==:.....*##*#%@@@#**#*+---+*%##@#==#*=+#%#::+
%%@@@@@@@*%@%%#+==++=-=%@##%*=*%@@@%%@%=-#@@%@+......:--...=*@@@%@@@@%%##++==+##%%@@%##%**#**#%#%@
%@%%%#*%#%%**=:=*##+--*%###%*++*###%#%%%@@%###%@%%--#%*+===*@@@@@%%@@@%*%@@@@@@@@@@@@@@%%%%%%@@@@@
+##**##**+=+++=**#*******@@%**+++##*%@@#*=-=+++*#@*##=--=*#%%#*+***#@###==*#@@#%%#**##**==++*#@**+
@@@*=+#%@#*==:+#*:....:==##+----:=+@@#+=--=+++**#%***+*%%%%@%%#***+=****+=-==-+**+++=+*++*++*%*--=


-->
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="terminal">
			<Header />
			<content>
				<span class="comment">
					<br />
					Delivered by machines, built with humanity. <br />
					The font used is <a
						href="https://larsenwork.com/monoid/"
						target="_blank">Monoid</a
					>.<br />
					<br />
					Font packaged by <a
						href="https://larsenwork.com/monoid/"
						target="_blank"
					>
						Font Squirrel.</a
					>
					My favorite font generator since 2009 ❤️.
				</span>

				<hr />
				<div id="mdx-source" class="hidden">
					<slot />
				</div>

				<div id="terminal-output"></div>
				<div id="choices" class="choices hidden">
					{
						choices.map((c, i) => (
							<div
								class={`choice ${i === 0 ? "active" : ""}`}
								data-target={c.target}
							>
								{c.label}
							</div>
						))
					}
				</div>
				<div class="terminal-type"></div>
				<span id="typed-text"></span>
			</content>
		</div>
		<!--<Footer />-->
	</body>
</html>

<script src="/assets/scripts/tone.js" is:inline></script>

<script type="module" is:inline>
	import { startTyping } from "/assets/scripts/terminal-typing.js";
	window.addEventListener("load", () => startTyping());
</script>
